.container-body{
    position: relative;
    top: 120px;
    font-size: 1.5rem;
    background-color: #fffaf0;
}

/* intro */
.address{
    position: absolute;
    top: 5px;
    margin-left: 50px;
    padding: 20px 0;
    font-size: 1.2rem;
}
.bg_overlay{
    background-image: url(../assets/backgrounds/bg-home-overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;
    height: 78vh;
    position: relative;
    z-index: 0;
}
.intro_content{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 100px;
    text-align: center;
}
.intro_content h1{
    margin: 30px;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: #FF6B35;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    margin: 50px 50px;
    color: white;
    box-shadow: 2px 2px 2px grey;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #000;
}
.btn i{
    position: relative;
    top: 18px;
    margin: 5px;
}
.btn>p{
    position: relative;
    top: 13px;
}
.intro_btn_field{
    display: flex;
    justify-content: center;
}

.bg{
    
    width: 100%;
}
.img_intro_grooming{
    width: 35%;
    position: absolute;
    top: 70px;
    left: 80px;
}

/* process */
.process{
    width: 95%;
    position: relative;
    /* top: 50px; */
    left: 40px;
}

/* service */
.service{
    position: relative;
    top: 10vh;
    width: 100%;
}
.service h1{
    color: #FF6B35;
    padding: 20px 100px;
}
.service_content{
    position: absolute;
    left: 7vw;
    top: 120px;
    background-color: black;
    color: white;
    line-height: 25px;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.3rem;
    z-index: 1;
}
.service_subcontent{
    display: flex;
}
.service_subcontent i{
    color: #FF6B35;
    padding: 13px 10px;
}
.service_img{
    position: absolute;
    width: 400px;
    left: 67%;
    top: 1vh;
}

/* menu */
.menu_fr{
    position: relative;
    top: 15vh;
}
#menu{
    position: absolute;
    top: 300vh;
}
#menu_detail{
    position: absolute;
    left: 520px;
    top: 10vh;
    display: block;
}
#menu_cat{
    position: absolute;
    left: 520px;
    top: 20vh;
    display: none;
}
.menu_content{
    position: absolute;
    width: 50%;
    top: 50vh;
    left: 50px;
}
.menu_content h1{
    color: white;
    position: relative;
    left: 150px;
}
.menu_option{
    width: 220px;
    position: relative;
    left: 7vw;
    top: 5vh;
    border-radius: 40px;
    background: #fff;
    box-shadow: inset 3px 3px 10px gainsboro;
}
.menu_option button{
    font-size: 1.3rem;
    padding: 15px 33px;
    font-weight: bold;
}
#selected_option{
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 40px;
    background: #FF6B35;
    transition: .5s;
    box-shadow: 1px 1px 1px gray;
}
.toggle_btn{
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}
.menu_btn_booking{
    position: relative;
    left: 90px;
    top: 100px;
    color: white;
    background-color: black;
}
.menu_btn_booking:hover{
    background-color: #fc591e;
}

/* extra service */
.extra{
    position: relative;
    top: 15vh;
    background-image: url(../assets/backgrounds/bg-partner-overlay.png);
    height: 150vh;
}
.extra_service{
    position: relative;
    left: 50px;
    top: 5vh;
}
.extra_content{
    position: absolute;
    width: 45%;
    left: 800px;
    top: 50px;
}
.extra_content h1{
    color: #FF6B35;
    margin: 10px 10px;
}
.service_premium_title{
    background-color: rgb(51, 51, 51);
    color: #fc591e;
    width: 230px;
    height: 230px;
    border-radius: 500px;
    position: absolute;
    top: 50vh;
    left: -3.5vw;
}
.service_premium_title h2{
    position: relative;
    top: 12.5vh;
    left: 15px;
    font-size: 2rem;
}
.service_premium_description{
    background-image: linear-gradient(to right, #FF9933, #FF6B35);;
    width: 600px;
    padding: 10px 10px 10px 100px;
    position: relative;
    top: 80px;
    left: 6vw;
    border-radius: 0 20px 20px 0;
    font-size: 1.2rem;
    line-height: 40px;
}
.extra_btn_booking{
    position: relative;
    top: 70px;
    left: 200px;
}
.extra_note{
    margin: 15px;
    font-size: 1.2rem;
}

/* comment */
.comment_fr{
    position: absolute;
    top: 600vh;
    height: 100vh;
}
.comment{
    position: relative;
    top: 15vh;
    width: 100%;
    font-size: 1.3rem;
}
.comment_img{
    position: absolute;
    left: 100px;
    width: 200px;
}
.comment_img1{
    position: absolute;
    left: 100px;
    top: 20px;
    width: 200px;
}
.comment_img2{
    position: absolute;
    left: 100px;
    top: 25px;
    width: 230px;
}
.comment_box{
    background-color: #fff;
    border-radius: 30px;
    width: 65%;
    height: 250px;
    margin: 50px;
    position: relative;
    left: 15%;
    top: -20px;
    box-shadow: inset 5px 5px 10px gainsboro;
}
.comment_content{
    position: relative; 
    left: 450px;
    top: 10px;
}
.comment hr{
    width: 70px;
    height: 2px;
    position: relative;
    top: 15px;
    background-color: black;
    margin-right: 10px;
}
.comment_heading{
    display: flex;
    position: relative;
    left: 50px;
}
.comment_author{
    display: flex;
}
.comment_content h1{
    padding: 20px 20px 10px 20px;
}
.comment_detail{
    padding-top: 20px;
}
.comment_slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.comment_slider .dots li{
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
}
.comment_slider .dots li.active{
    width: 30px;
    background-color: #fc591e;
}
.comment_slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.comment_box:nth-child(1){
    display: block;
}
.comment_box:nth-child(2), .comment_box:nth-child(3){
    display: none;
}
.comment_slider .buttons{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.comment_slider .buttons button{
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* footer */
.pg-footer{
    position: relative;
    top: 40vh;
}