* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* background-color: #FFFAF0; */
}

/* Bổ sung các rules để thay đổi màu khi thêm lớp active */
.menu-item.active {
    color: #FF6B35;
}

.arrow.active {
    color: #FF6B35;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    font-size: 1.25em;
    background-color: #fffaf0;
}

.group {
    display: flex;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    gap: 50px;
}

header ul li {
    list-style: none;
}

ul.dropdown li {
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 0.85em;
}


ul.dropdown {
    margin-top: 4px;
    width: 28%;
    height: 200px;
    position: absolute;
    z-index: 999;
    display: none;
    margin-left: -20px;
    border-radius: 5px;
    background: #fffaf0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

ul.dropdown a:hover {
    color: #FF6B35;
}



.dropdown li:hover {
    position: relative;
    background: #F2F2F2;
    width: 260px;
    left: -4.2%;
    border-left: 5px solid #FF6B35;
    padding-left: 15px;
    border-radius: 2px;
    position: relative;
    z-index: 0;
}

ul li:hover ul.dropdown {
    display: block;


}


.navigation li:hover .htmlcss-arrow {
    transform: rotate(180deg);

}

#service-icon {
    font-size: 20px;
    padding-left: 5px;
}

/* #service-icon:hover {
    padding-left: 50px;
} */

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    letter-spacing: 0.05em;
}


header ul li a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 98%;
    height: 4px;
    background: #FF6B35;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}


ul.dropdown a:hover::before {
    display: none;
    content: none;
    transition: none;
    text-decoration: none;
    transform: none;
}


header ul li a:hover::before {
    transform: scale(1);
    transform-origin: left;
}


.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    z-index: 10;
    cursor: pointer;
}



.cartBtn {
    font-size: 1.25em;
    margin-left: 35px;
    /* Add spacing between search and cart icons */
    cursor: pointer;
}


.cartBtn i {
    color: #333;
}

.cartBtn span{
    display: flex;
    width: 15px;
    height: 15px;
    background: #eebe62;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 30px;
    font-size: 10px;
}
.searchBox.active {
    left: 0;

}

.searchBox {
    position: absolute;
    right: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFFAF0;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
    padding-left: 3%;

}

.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    font-size: 1.25rem;
    background: #FFFAF0;
    color: #333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 200px;

}

/* Các thuộc tính CSS cho hộp đề xuất */
.autocom-box {
    position: absolute;
    width: 100%;
    background: #fcfaf6;
    border: 1px solid #ccc;
    display: none;
    z-index: 1;
    left: 0;
    top: calc(100% + 2px);
    /* Đặt vị trí top dưới input và thêm một khoảng cách */
}

/* Các thuộc tính CSS cho mỗi suggestion */
.autocom-box li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    margin: 0;
    width: 100%;
    padding-left: 3%;
    font-size: 1.25rem;
    box-sizing: border-box;
}



.autocom-box li:hover {
    background: #f9f9f9;
}


.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}

.searchBtn.active {
    left: 0;
}

.closeBtn {
    opacity: 0;
    visibility: hidden;
    scale: 0;
}

.closeBtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}