.container-body{
    position: relative;
    top: 150px;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: #F2AB1E;
    width: 130px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    margin: 50px 50px;
}
.btn i{
    position: relative;
    top: 18px;
    margin: 5px;
}
.btn>p{
    position: relative;
    top: 15px;
}
.intro_content{
    width: 40%;
    position: relative;
    left: 100px;
    top: 90px;
    text-align: center;
}
.intro_content h1{
    margin: 30px;
}
.intro_img{
    position: absolute;
    top: 20px;
    left: 60%;
}
.intro_btn_booking{
    position: relative;
    left: 12vw;
}

/* banner */
.img_banner{
    width: 100%;
    position: relative;
    top: 50vh;
}
.banner{
    width: 96%;
    position: relative;
    left: 2%;
}

/* highlight product */
.bg{
    width: 100%;
}
.highlight_fr{
    position: relative;
    top: 35vh;
}
.highlight{
    position: relative;
    top: -500px;
}
.highlight h1{
    text-align: center;
    margin: 20px;
}
.product{
    width: 217px;
    height: 270px;
    text-align: center;
    border-radius: 19.203px;
    background: #F2AB1E;
    box-shadow: 1.88px 3.88px 3.88px 0px rgba(0, 0, 0, 0.50);
    align-self: center;
    justify-self: center;
    
}

.product-image{
    width: 217px;
    height: 190px;
    border-radius: 19.2px;
    background: #FFF;
}

.star{
    color: #EEBE62; 
    font-size: 16px;
    display: flex; 
    padding: 10px;
}
  
.fa-star{
    margin-right: 5px; 
}

.image-product{
    height: 150px;
    width: auto;
}

.product-information{
    float: left;
    padding: 5px 15px;
    text-decoration: none;
}

.product-link{
    text-decoration: none;
}
.price-product{
    width: 100%;
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.name-product{
    color: #000;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 35px;
    padding: 20px 0;
    justify-content: center; 
    align-content: center;
}
.num_pg_group{
    display: flex;
    position: relative;
    top: 50px;
    left: 43%;
}
.num_pg{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50px;
}

/* discount */
.discount{
    position: relative;
    top: -50px;
}
.discount_heading{
    display: flex;
    position: relative;
    left: 50px;
}
.discount_heading hr{
    width: 70px;
    height: 2px;
    position: relative;
    top: 15px;
    background-color: black;
    margin-right: 10px;
}
.discount_content{
    position: absolute;
    top: -20px;
    left: 15%;
}
.discount_content img{
   padding: 20px;
}

/* service */
.service_fr{
    position: absolute;
    top: 350vh;
    height: 120vh;
}
.service{
    position: relative;
    top: 140vh;
}
.service h1{
     text-align: center;
     margin-bottom: 50px;
}
.service_btn_field{
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 400px;
    top: 200px;
}
.service_option{
    position: absolute;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    left: 75%;
}
.option{
    padding: 30px 0;
}
.service_option img{
    width: 100px;
}
.service_content{
    position: absolute;
    background-color: #fff;
    width: 60%;
    top: 150px;
    left: 100px;
    padding: 20px;
    border-radius: 40px;
}
.service_content img{
    position: relative;

    left: 20px;
}
.service_description{
    position: absolute;
    width: 50%;
    left: 400px;
    top: 100px;
}

/* blog */
.blog{
    position: relative;
    top: 230vh;
}
.blog h1{
    text-align: center;
}
.blog_content{
    position: relative;
    width: 30%;
    margin: 20px;
    height: 550px;
}
.blog_content img{
    border-bottom-right-radius: 100px;
    width: 400px;
    height: 280px;
}
.img_section{
    position: relative;
}
.date{
    background-color: #F2AB1E;
    width: 100px;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    border-top-right-radius: 40px;
    font-weight: bold;
}
.blog_content h2{
    color: #F2AB1E;
    padding: 10px;
}
.blog_content p{
    position: absolute;
    bottom: 15%;
}
.more{
    background-color: #F2AB1E;
    width: 100px;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    margin: 10px;
    position: absolute;
    bottom: 0;
}
.blog_list{
    display: flex;
    justify-content: center;
}

/* comment */
.comment_fr{
    position: relative;
    top: 230vh;
    height: 80vh;
}
