.container-body{
    position: relative;
    top: 120px;
    font-size: 1.5rem;
    background-color: #fffaf0;
}

/* intro */
.address{
    position: absolute;
    top: 5px;
    margin-left: 50px;
    padding: 20px 0;
    font-size: 1.2rem;
}
.bg_overlay{
    background-image: url(../assets/backgrounds/bg-home-overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;
    height: 78vh;
    position: relative;
    z-index: 0;
}
.intro_content{
    width: 40%;
    position: absolute;
    left: 10vw;
    top: 100px;
    text-align: center;
}
.intro_content h1{
    margin: 30px;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: #FF6B35;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    margin: 50px 50px;
    color: white;
    box-shadow: 2px 2px 2px grey;
    font-size: 1.2rem;
}
.btn i{
    position: relative;
    top: 18px;
    margin: 5px;
}
.btn>p{
    position: relative;
    top: 13px;
}
.intro_btn_field{
    display: flex;
    justify-content: center;
}

.bg{
    
    width: 100%;
}
.img_intro_hotel{
    width: 35%;
    position: absolute;
    top: 40px;
    left: 60%;
}

/* special */
.special_fr{
    position: relative;
    height: 60rem;
}
.special{
    position: absolute;
    top: 700px;
    width: 100%;
}
.phone_img{
    position: absolute;
    left: 100px;
    width: 400px;
}
.special_content{
    position: absolute;
    left: 650px;
    top: 50px;
    color: white;
}
.special_content h2{
    margin-bottom: 40px;
}
.special_content ul{
    line-height: 40px;
    font-size: 1.3rem;
}
.special_btn_field{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    left: -50px;
    color: black;
}
.special_btn_booking, .special_btn_contact{
    background-color: #fff;
    color: #fc591e;
}

/* facilities */
.facilities{
    position: relative;
    width: 100%;
}
.facilities_detail{
    width: 600px;
    position: relative;
    left: 100px;
    z-index: 1;
}
.facilities_img{
    position: relative;
    left: 18vw;
    top: 30px;
}

/* room */
.room_fr{
    position: relative;
    top: -10vh;
    z-index: 0;
    height: 50rem;
}
.room{
    position: absolute;
    top: 150rem;
    width: 100%;
}
.room_option{
    width: 350px;
    position: relative;
    left: 17vw;
    border-radius: 40px;
    background: #fff;
    box-shadow: inset 3px 3px 10px gainsboro;
}
.room_option button{
    font-size: 1rem;
    padding: 18px 33px;
    font-weight: bold;
}
.room_option #selecting{
    color: white;
}
.room_option>button:nth-child(2){
    padding-left: 40px;
}
#selected_option{
    left: 0;
    top: 0;
    position: absolute;
    width: 175px;
    height: 100%;
    border-radius: 40px;
    background: #FF6B35;
    transition: .5s;
    box-shadow: 1px 1px 1px gray;
}
.room_toggle_btn{
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}
.room_btn_field{
   width: 40vw;
   display: flex;
   position: relative;
   top: -20px;
   right: 50px;
}
.room_box{
    position: relative;
    top: 50px;
    width: 70%;
    left: 230px;
    background-color: white;
    height: 300px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px gray inset;
}
.room_content{
    width: 40%;
    position: absolute;
    left: 500px;
    top: 50px;
}
.room_content h1{
    margin-bottom: 20px;
}
.room_img{
    position: absolute;
    width: 300px;
    top: 20px;
    left: 50px;
}

/* menu */
.menu{
    position: relative;
    width: 100%;
}
.menu_detail{
    position: absolute;
    left: 100px;
    z-index: 1;
}
.menu_content{
    position: relative;
    top: 300px;
    left: 70rem;
}
.menu_btn_booking{
    position: relative;
    right: 55px;
}

/* note and rule */
.rule_fr{
    position: relative;
    top: 70vh;
    height: 150vh;
}
.rule{
    position: relative;
    top: -60vh;
    left: 2vw;
}
.rule_img{
    position: relative;
    top: 200px;
    left: 100px;
}
.idea_box{
    position: relative;
    left: 100px;
}
.rule_content{
    position: absolute;
    width: 40%;
    left: 43vw;
    bottom: 200px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.3rem;
}
.rule_content h1{
    text-align: center;
    margin-bottom: 50px;
}

.rule_note_option{
    display: flex;
    width: 300px;
    position: relative;
    left: 50vw;
    top: 5vh;
    border-radius: 40px;
    background: #fff;
    box-shadow: inset 3px 3px 10px gainsboro;
}
.rule_note_option button{
    font-size: 1rem;
    padding: 18px 20px;
    font-weight: bold;
}
#rule_note_selected{
    left: 0;
    top: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    border-radius: 40px;
    background: #FF6B35;
    transition: .5s;
    box-shadow: 1px 1px 1px gray;
}
#rule_selecting{
    color: white;
}
.rule_note_toggle_btn{
    width: 50%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

/* takecare */
.takecare{
    width: 100%;
    position: absolute;
    top: 690vh;
}

/* partner */
.partner{
    position: relative;
    top: 80vh;
    background: #FF8C4E;
    height: 80vh;
    background-image: url(../assets/backgrounds/bg-partner-overlay.png);
}
.partner>h1{
    position: relative;
    text-align: center;
    padding-top: 60px;
}
.partner>svg{
    width: 90px;
    height: 90px;
    position: absolute;
    fill: white;
    left: 47%;
    top: 5vh;
}
.partner_list{
    display: flex;
    width: 100%;
    animation: slide 40s infinite linear;
}
.partner_wrapper{
    width: 85%;
    overflow: hidden;
    position: relative;
    top: 10vh;
    left: 7%;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-15%);
    }
    20%{
        transform: translateX(-30%);
    }
    30%{
        transform: translateX(-40%);
    }
    40%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(-60%);
    }
    60%{
        transform: translateX(-50%);
    }
    70%{
        transform: translateX(-40%);
    }
    80%{
        transform: translateX(-30%);
    }
    90%{
        transform: translateX(-15%);
    }
    100%{
        transform: translateX(0);
    }
}

.pg-footer{
    position: relative;
    top: 80vh;
}