/* Sidebar pet filter */
.page-container{
    display: flex;
    justify-content: space-between; 
    margin: 0 4%;
}

.sidebar-filter{
    width: 20%;
    /* width: 299px; */
}

.content-product{
    flex: 1;
}

/* Filter */
.filter-block{
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.filter-block:not(:last-child){
    border-bottom: 1px solid #ccc;
}

/* Filter Dogs and Cats */
.filter-title{
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.filter-block h4{
    margin: 0;
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 700;
    width: 45%;
}

.checkbox-all{
    width: 55%;
    text-align: right;
    display: flex;
    align-items: center;
}

.filter-block li{
    display: flex;
    font-size: 0.9em;
    position: relative;
    line-height: 2;    
    align-items: center;
    justify-content: space-around;
}

.pets-checkbox{
    padding-left: 3px;
    list-style: none;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #BBB;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 10px;
}

input[type="checkbox"]:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 13px;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #BBB;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.filter-block label .pets-name{
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.filter-block li .pets-count{
    margin-left: auto;
    color: #BBB;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}


/* Content Product */
.content-product{
    margin-left: 40px;
}

/* Showing results header */
.results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Showing num product available */
.result-count{
    width: 65%;
    color: #000;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 500;
}

/* Sort options */
.sort-options {
    font-family: Quicksand;
    font-size: 18px;
}

.sort-options p{
    margin: 0;
}

.sort-options .sort-select {
    width: 217px;
    height: 38px;
    border-radius: 35px;
    text-align: center;
    background: #EFBB3F;
    font-family: Quicksand;
    font-size: 18px;
    cursor: pointer;
    /* appearance: none; */
}


/* Product list */
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    padding: 20px 0;
    justify-content: center; 
    align-content: center;
}

/* Product */
.product{
    width: 217px;
    height: 270px;
    text-align: center;
    border-radius: 19.203px;
    background: #EFBB3F;
    box-shadow: 1.88px 3.88px 3.88px 0px rgba(0, 0, 0, 0.50);
    align-self: center;
    justify-self: center;
    
}

.product-image{
    width: 217px;
    height: 190px;
    border-radius: 19.2px;
    background: #FFF;
}

.star{
    color: #EEBE62; 
    font-size: 16px;
    display: flex; 
    padding: 10px;
}
  
.fa-star{
    margin-right: 5px; 
}

.image-product{
    height: 150px;
    width: auto;
}

.product-information{
    float: left;
    padding: 5px 15px;
    text-decoration: none;
}

.product-link{
    text-decoration: none;
}

.price-product{
    width: 100%;
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.name-product{
    color: #000;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}